<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808617633598-ppajq0dvjc6gr1t11s49eerhqf6tgpm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808617633598-ppajq0dvjc6gr1t11s49eerhqf6tgpm3</string>
	<key>API_KEY</key>
	<string>AIzaSyC5LyN0BL1aJnMbkxIdp3u-TI8gC70umt4</string>
	<key>GCM_SENDER_ID</key>
	<string>808617633598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>mv6tarefas</string>
	<key>STORAGE_BUCKET</key>
	<string>mv6tarefas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808617633598:ios:d8b806090efe7d81ac2e6f</string>
</dict>
</plist>